html, body{
    min-height: 100vh;
}

body{
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
}
