.places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 500px;
}

.places h1{
    font-size: 30px;
    color: #000;
    width: 100%;
    margin-left: 20px;
}

.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.places article h2{
    font-size: 30px;
    color: #000;
}

@media screen and (max-width: 500px) {
    .places h1{
        font-size: 25px;
    }

    .places article{
        width: 350px;
        height: 105vh;
    }

    .places article h2{
        font-size: 25px;
    }
}

@media screen and (max-width: 320px) {
    .places h1{
        font-size: 25px;
    }

    .places article{
        width: 250px;
        height: 105vh;
    }

    .places article h2{
        font-size: 25px;
    }
}
